:root {
    --basic-white: #FFFFFF;
    --oppacity-white: #FFFFFF4d;
    --basic-black: #000000;

    --light-black: #283136;

    --light-grey: #EEEEEE;
    --middle-grey: #DFDFDF;
    --deep-grey: #D5D5D5;
    --stroke-grey: #DBDBDB;
    --socials-grey: #E1E1E1;
    --cart-grey: #A6A6A6;
    --dark-grey-1: #666666;
    --dark-grey-2: #444444;


    --light-red: #FB565A;
    --middle-red: #E74246;
    --deep-red: #D7373B;

    --light-green: #00CA74;
    --middle-green: #00BC6C;
    --deep-green: #00AA62;

    --light-yellow: #EFC849;
    --middle-yellow: #EAB534;
    --deep-yellow: #E5A722;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    padding-left: calc(50vw - 580px);
    padding-right: calc(50vw - 580px);
}

.center-map {
    padding-left: calc(50vw - 720px);
    padding-right: calc(50vw - 720px);
}

.page {
    min-height: 100%;
}

.page-body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: initial;
    background-color: var(--basic-white);
}

.text-link {
    text-decoration: none;
    color: var(--basic-black);
}

.image {
    max-width: 100%;
    height: auto;
}

.client-logo {
    opacity: 0.2;
}

.client-logo:hover,
.client-logo:focus {
    opacity: 1;
}

.client-logo:active {
    opacity: 0.1;
}

.main-header,
.features,
.container-title {
    background-color: var(--light-grey);
}

.main-navigation {
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: 160px 1fr min-content;
}

.site-navigation,
.slider-list,
.slider-navigation-list,
.services-list,
.indicators-list,
.clients-list,
.social-links-list,
.templ-navigation {
    list-style: none;
}

.site-navigation .text-link:hover,
.site-navigation .text-link:focus,
.cart:hover,
.cart:focus {
    color: var(--light-red);
}

.site-navigation .text-link:active,
.cart:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.slider-title,
.container-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--light-red);
    border: none;
    cursor: pointer;
}

.slider-button {
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 54px;
    padding-right: 54px;
}

.slider-button:hover,
.slider-button:focus,
.web-order-button:hover,
.web-order-button:focus,
.contacts-button:hover,
.contacts-button:focus,
.send-mail-button:hover,
.send-mail-button:focus,
.template-button:hover,
.template-button:focus  {
    background-color: var(--middle-red);
}

.slider-button:active,
.web-order-button:active,
.contacts-button:active,
.send-mail-button:active {
    background-color: var(--deep-red);
    color: var(--oppacity-white);
}

.template-button:active {
    background-color: var(--deep-red);
}

.app-order-button:hover,
.app-order-button:focus {
    background-color: var(--middle-green);
}

.app-order-button:active {
    background-color: var(--deep-green);
    color: var(--oppacity-white);
}

.present-order-button:hover,
.present-order-button:focus {
    background-color: var(--middle-yellow);
}

.present-order-button:active {
    background-color: var(--deep-yellow);
    color: var(--oppacity-white);
}

.service-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.order-button {
    height: 50px;
    width: 160px;
}

.app-order-button {
    background-color: var(--light-green);
}

.present-order-button {
    background-color: var(--light-yellow);
}

.about-company-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.about-company-offer,
.about-company-stat {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
}

.indicator-percent {
    font-size: 45px;
    line-height: 64px;
    font-weight: bold;
}

.percent {
    font-size: 26px;
    line-height: 40px;
}

.indicator-description {
    line-height: 18px;
}

.contacts-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.contacts-text,
.contacts-phone {
    line-height: 18px;
    color: var(--dark-grey);
}

.contacts-button,
.send-mail-button {
    line-height: 18px;
    height: 50px;
    width: 219px;
}

.friendship-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.friendship-text {
    line-height: 22px;
    color: var(--dark-grey-2);
}

.modal-title {
    font-size: 45px;
    line-height: 53px;
    font-weight: bold;
}

.modal-item {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

.sender-username,
.sender-email {
    height: 50px;
    width: 360px;
}

.sender-text {
    height: 118px;
    width: 760px;
}

.filter-title,
.template-title,
.sort-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.filter-grid-label,
.filter-specility-label {
    line-height: 20px;
    color: var(--light-black);
}

.price-option {
    font-size: 16px;
    line-height: 22px;
}

.filter-result-button {
    height: 50px;
    width: 260px;
    background-color: var(--light-grey);
    color: var(--basic-black);
}

.filter-result-button:hover,
.filter-result-button:focus {
    background-color: var(--middle-grey);
}

.filter-result-button:active {
    background-color: var(--deep-grey);
    color: var(--oppacity-white);
}

.sort-position-option {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.template-content {
    background-color: var(--light-grey);
    text-align: center;
}

.template-button {
    height: 50px;
    width: 200px;
}

.template-text {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: var(--dark-grey-1);
}

.templ-navigation-item {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    background-color: var(--light-grey);
}

.filter-price,
.filter,
.sort
{
    border: none;
}


/* 
    display
*/

.page-body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-navigation-item {
    margin-left: 22px;
    margin-right: 22px;
}

.container {
    display: grid;
    grid-template-rows: repeat(5, min-content);
}

.slider-wrapper {
    position: relative;
}

.slider-navigation {
    position: absolute;
    bottom: 96px;
    left: 50%;
    transform: translate(-50%);
}


.slider {
    width: 100%;
    height: 431px;
    padding-top: 78px;
    position: relative;
}

.slider-text {
    display: flex;
    flex-direction: column;
}

.slider-img {
    width: 760px;
    height: 431px;
    position: absolute;
    right: 0;
    top: 0;
}

.slider-title {
    width: 538px;
    margin-bottom: 25px;
    z-index: 2;
}

.slider-content {
    margin-bottom: 55px;
}


.slider-navigation-list {
    display: flex;
    flex-direction: row;
}

.services-list {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 100px;
}

.service-item {
    display: flex;
    flex-direction: column;
}

.service-img {
    order: -1;
    width: 300px;
    height: 146;
    margin-bottom: 25px;
}

.service-title {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.service-content {
    margin: 0;
    padding: 0;
    width: 260px;
    margin-bottom: 32px;
}

.about-company {
    margin-top: 121px;
    margin-bottom: 73px;
    display: grid;
    grid-template-columns: 1fr 360px;
}

.about-company-info {
    display: flex;
    flex-direction: column;
}

.about-company-title {
    margin-top: 34px;
    margin-bottom: 32px;
    width: 651px;
}

.about-company-content {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 37px;
    width: 646px;
}

.about-company-offer {
    margin-bottom: 23px;
}

.offer-items-list {
    margin-left: 31px;
    padding-left: 5px;
    padding-right: 5px;
}

.offer-item:not(:last-child) {
    margin-bottom: 22px;
}

.about-company-stat {
    margin-top: 37px;
    margin-bottom: 31px;
    text-align: center;
}


.indicators-list {
    display: flex;
    flex-direction: row;
}

.indicator-item:not(:last-child) {
    margin-right: 21px;
}

.indicator-percent {
    margin-bottom: 11px;
}

.clients {
    margin-bottom: 80px;
}

.clients-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contacts-content {
    width: 319px;
    height: 308px;
    padding-left: 50px;
}

.contacts-title {
    margin-bottom: 23px;
    margin-top: 51px;
}

.contacts-text {
    width: 230px;
}

.contacts-phone-wrapper {
    margin-top: 16px;
}

.contacts-button {
    margin-top: 37px;
}

.main-footer {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
}

.social-links-list {
    display: flex;
    flex-direction: row;
}

.friendship-title {
    margin-bottom: 10px;
}


/*
    Модальное окно
*/

.modal-send-mail {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 590px;
    border: solid 2px black;
    margin: 0 auto;
    position: relative;
}

.modal-title {
    margin-top: 63px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 37px;
}

.modal-form {
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-areas: "name email"
                         "text-area text-area"
                         "button button";
}

.modal-item-name {
    grid-area: name;
    width: 360px; 
}

.modal-item-email {
    grid-area: email;
    width: 360px;
    margin-left: 40px;
}

.modal-item-text {
    grid-area: text-area;
    width: 760px;
    margin-top: 34px;
}

.send-mail-button {
    grid-area: button;
    margin-top: 47px;
    width: 259px;
}

.sender-username,
.sender-email,
.sender-text {
    display: block;
    margin-top: 9px;
    padding-top: 16px;
    padding-left: 16px;
}

.sender-username,
.sender-email {
    height: 50px;
    padding-bottom: 16px;
}

.sender-text {
    height: 118px;
    padding-bottom: 84px;
}

.close-modal-button {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 78px;
    right: 90px;
}

/*
    Раздел "Магазин"
*/

.page-catalog {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.page-catalog-wrapper {
    display: grid;
    grid-template-areas: "filter sorting"
                         "filter templates";
}

.shop-title {
    text-align: center;
    margin: 0;
    padding-top: 78px;
    padding-bottom: 108px;
    margin-bottom: 55px;
}

.filter {
    grid-area: filter;
    width: 260px;
    margin-right: 140px;
}

.filter-price,
.filter-grid,
.filter-speciality {
    margin: 0;
    padding: 0;
}

.filter-grid {
    margin-top: 54px;
}

.filter-title {
    margin-bottom: 16px;
}

.filter-grid-option:not(:last-child),
.filter-speciality-option:not(:last-child) {
    margin-bottom: 20px;
}

.filter-speciality {
    margin-top: 43px;
}

.filter-result-button {
    margin-top: 48px;
}

.templates-sort {
    grid-area: sorting;
    margin-bottom: 48px;
}

.templates {
    grid-area: templates;
}

.template-item {
    margin-bottom: 31px;
}

.sort-form,
.sort {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.sort-title {
    float: left;
    margin-right: 20px;
}

.sort-position-option,
.sort-directions {
    align-self: center;
}

.sort-position-button,
.sort-direction-button {
    visibility: hidden;
}

.templates-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.template-item {
    display: grid;
    grid-template-rows: min-content 578px;
    position: relative;
}

.template-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 231px;
    position: absolute;
    bottom: 0;
}

.template-link {
    margin-top: 26px;
    margin-bottom: 12px; 
}

.template-text {
    margin-bottom: 32px;
    width: 255px;
}

.templ-navigation {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 24px;
    height: 50px;
    align-content: center;
}

.templ-navigation-item:not(:first-child) {
    margin-left: 11px;
}

.templ-navigation-item {
    padding-top: 17px;
    text-align: center;
}

.templ-navigation-item:not(:first-child):not(:last-child) {
    width: 50px;
}

.templ-navigation-prev,
.templ-navigation-next {
    width: 260px;
}





/*
    Прячем заголовки, которых 
    не должно быть на странице
*/

.hide {
    display: none;
}

/* 
Свойство для подстветки grid-ячеек
По завершении проекта - удалить
*/



.mark-grid-item-green {
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
}


.mark-grid-item-red {
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
}

