:root {
    --basic-white: #FFFFFF;
    --oppacity-white: #FFFFFF4d;
    --basic-black: #000000;

    --light-black: #283136;
    --modal-shadow: rgba(0, 0, 0, 0.4);
    --template-hover: rgba(0, 0, 0, 0.25);

    --light-grey: #EEEEEE;
    --middle-grey: #DFDFDF;
    --deep-grey: #D5D5D5;
    --stroke-grey: #DBDBDB;
    --socials-grey: #E1E1E1;
    --nav-button-grey: #C1C1C1;
    --cart-grey: #A6A6A6;
    --scale-grey: #D7DCDF;
    --toggle-grey: #ABABAB;
    --dark-grey-1: #666666;
    --dark-grey-2: #444444;
    --grey-radio-simple: #4D4D4D;


    --light-red: #FB565A;
    --middle-red: #E74246;
    --deep-red: #D7373B;

    --light-green: #00CA74;
    --middle-green: #00BC6C;
    --deep-green: #00AA62;

    --light-yellow: #EFC849;
    --middle-yellow: #EAB534;
    --deep-yellow: #E5A722;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    padding-left: calc(50vw - 587px);
    padding-right: calc(50vw - 588px);
}

.center-map {
    padding-left: calc(50vw - 720px);
    padding-right: calc(50vw - 720px);
}

.page {
    min-height: 100%;
}

.page-body {
    min-height: 100%;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: initial;
    background-color: var(--basic-white);
}

.text-link {
    text-decoration: none;
    color: var(--basic-black);
}

.image {
    max-width: 100%;
    height: auto;
}

.client-item:focus-within .client-logo {
    opacity: 1;
}

.client-logo {
    opacity: 0.2;
}

.client-logo:hover {
    opacity: 1;
}


.client-logo:active {
    opacity: 0.1;
}

.main-header,
.features,
.container-title {
    background-color: var(--light-grey);
}

.main-navigation {
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: 160px 1fr min-content;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.7;
}

.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation,
.slider-list,
.slider-navigation-list,
.services-list,
.indicators-list,
.clients-list,
.social-links-list,
.templ-navigation {
    list-style: none;
}

.site-navigation .text-link:hover,
.site-navigation .text-link:focus,
.cart:hover,
.cart:focus {
    color: var(--light-red);
}

.site-navigation .text-link:active,
.cart:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.slider-title,
.container-title {
    font-size: 55px;
    line-height: 1;
    font-weight: 500;
}

.button {
    box-sizing: content-box;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    min-height: 40px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--light-red);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.slider-button-wrapper {
    width: 230px;
}

.slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slider-button:hover,
.slider-button:focus,
.web-order-button:hover,
.web-order-button:focus,
.contacts-button:hover,
.contacts-button:focus,
.send-mail-button:hover,
.send-mail-button:focus,
.template-button:hover,
.template-button:focus  {
    background-color: var(--middle-red);
}

.slider-button:active,
.web-order-button:active,
.contacts-button:active,
.send-mail-button:active {
    background-color: var(--deep-red);
    color: var(--oppacity-white);
}

.template-button:active {
    background-color: var(--deep-red);
}

.app-order-button:hover,
.app-order-button:focus {
    background-color: var(--middle-green);
}

.app-order-button:active {
    background-color: var(--deep-green);
    color: var(--oppacity-white);
}

.present-order-button:hover,
.present-order-button:focus {
    background-color: var(--middle-yellow);
}

.present-order-button:active {
    background-color: var(--deep-yellow);
    color: var(--oppacity-white);
}

.service-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.order-button {
    width: 150px;
}

.app-order-button {
    background-color: var(--light-green);
}

.present-order-button {
    background-color: var(--light-yellow);
}

.about-company-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.about-company-offer,
.about-company-stat {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
}

.indicator-percent {
    font-size: 45px;
    line-height: 64px;
    font-weight: bold;
}

.percent {
    font-size: 26px;
    line-height: 40px;
}

.indicator-description {
    line-height: 18px;
}

.contacts-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.contacts-text,
.contacts-phone {
    line-height: 18px;
    color: var(--dark-grey);
}

.contacts-button,
.send-mail-button {
    width: 209px;
}

.friendship-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.friendship-text {
    line-height: 22px;
    color: var(--dark-grey-2);
}

.modal-title {
    font-size: 45px;
    line-height: 53px;
    font-weight: bold;
}

.modal-item {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

.sender-username,
.sender-email {
    height: 50px;
    width: 360px;
}

.sender-text {
    height: 118px;
    width: 760px;
}

.filter-title,
.price-title,
.template-title,
.sort-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}


.filter-grid-label,
.filter-specility-label {
    position: relative;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    line-height: 20px;
    color: var(--light-black);
}

.filter-grid-radio + label::before {
    content: "";
    position: absolute;
    left: -36px;
    top: 50%;
    width: 17px;
    height: 17px;
    border: 4px solid var(--grey-radio-simple);
    border-radius: 50%;
    opacity: 0.4;
    transform: translateY(-50%);
}

.filter-grid-radio:checked + label::after {
    content: "";
    position: absolute;
    left: -28px;
    top: 50%;
    width: 9px;
    height: 9px;
    background-color: var(--grey-radio-simple);
    border-radius: 50%;
    opacity: 0.4;
    transform: translateY(-50%);
}

.filter-grid-radio:hover + label::before,
.filter-grid-radio:focus + label::before {
    opacity: 1;
}

.filter-grid-radio:hover + label::after,
.filter-grid-radio:focus + label::after {
    opacity: 1;
}

.filter-specility-check + label::before {
    content: "";
    position: absolute;
    left: -36px;
    top: -2px;
    width: 23px;
    height: 23px;
    background-image: url("../img/decoration/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-specility-check:checked + label::before {
    content: "";
    position: absolute;
    left: -36px;
    top: -2px;
    width: 23px;
    height: 23px;
    background-image: url("../img/decoration/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-specility-check:hover + label::before,
.filter-specility-check:focus + label::before {
    opacity: 1;
}

.filter-result-button {
    width: 250px;
    background-color: var(--light-grey);
    color: var(--basic-black);
}

.filter-result-button:hover,
.filter-result-button:focus {
    background-color: var(--middle-grey);
}

.filter-result-button:active {
    background-color: var(--deep-grey);
    color: var(--oppacity-white);
}

.sort-position-option {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.template-content {
    background-color: var(--light-grey);
    text-align: center;
}

.template-button {
    width: 200px;
    margin-bottom: 44px;
}

.template-text {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: var(--dark-grey-1);
}

.templ-navigation-item {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 34px;
    font-weight: 500;
    background-color: var(--light-grey);
    border-radius: 3px;
    border: 3px solid transparent;
}

.templ-navigation-active {
    background-color: var(--basic-white);
    border: 3px solid var(--stroke-grey);
}

.filter-price,
.filter,
.sort
{
    border: none;
    padding: 0;
    margin: 0;
}


/* 
    display
*/

.page-body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    margin-bottom: -10px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.site-navigation-item {
    margin-left: 22px;
    margin-right: 22px;
}

.site-navigation .text-link {
    font-style: normal;
    display: block;
    padding: 15px 0;
}

.cart {
    display: block;
    padding: 15px 0 15px 40px;
    position: relative;
}

.cart::before {
    content: "";
    position: absolute;
    left: 0;
    top: 22px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart_icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation-current {
    position: relative;
  }
  
.site-navigation-current::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 2px;   
    height: 2px;
    background-color: var(--light-red);
}

.container {
    display: grid;
    grid-template-rows: repeat(5, min-content);
}

.slide-hide {
    display: none;
}

.slide-current {
    display: block;
}

.slider-wrapper {
    position: relative;
}

.slider-navigation {
    position: absolute;
    bottom: 96px;
    left: 50%;
    transform: translate(-50%);
}

.slider {
    width: 100%;
    height: 431px;
    padding-top: 76px;
    position: relative;
}

.slider-text {
    display: flex;
    flex-direction: column;
}

.slider-img {
    width: 760px;
    height: 431px;
    position: absolute;
    right: 0;
    top: 0;
}

.slider-title {
    width: 538px;
    margin-bottom: 25px;
    z-index: 2;
}

.slider-content {
    margin-bottom: 38px;
}

.slide-current {
    display: block;
}

.slider-navigation-list {
    display: flex;
    flex-wrap: wrap;
}

.slider-navigation-item:not(:last-child) {
    margin-right: 17px;
}

.slider-navigation-button {
    display: flex;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    background-color: var(--basic-white);
    cursor: pointer;
}

.slider-nav-button-current::after {
    box-sizing: inherit;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border: 2px solid var(--nav-button-grey);
    border-radius: 50%;
    align-self: center;
}

.services {
    position: relative;
}

.services::after {
    position: absolute;
    content: "";
    width: 1160px;
    height: 2px;
    background-color: var(--light-grey);
    bottom: -80px;
}

.services-list {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 100px;
}

.service-item {
    display: flex;
    flex-direction: column;
}

.service-img {
    order: -1;
    width: 300px;
    height: 146;
    margin-bottom: 25px;
}

.service-title {
    margin-bottom: 16px;
}

.service-content {
    width: 260px;
    margin-bottom: 32px;
}

.about-company {
    margin-top: 121px;
    margin-bottom: 121px;
    display: grid;
    grid-template-columns: 1fr 360px;
}

.about-company-info {
    display: flex;
    flex-direction: column;
}

.about-company-title {
    margin-top: 32px;
    margin-bottom: 28px;
    width: 651px;
}

.about-company-content {
    padding: 5px 0;
    margin-bottom: 36px;
    width: 646px;
}

.about-company-offer {
    margin-bottom: 22px;
}

.offer-items-list {
    margin-left: 31px;
    padding: 0 5px;
}

.offer-item:not(:last-child) {
    margin-bottom: 24px;
}

.offer-item {
    list-style-type: none;
    position: relative;
}

.offer-item::before {
    content: "";
    position: absolute;
    left: -36px;
    top: 11px;
    height: 2px;
    width: 25px;
    background-color: var(--light-red);
    border: none

}

.about-company-stat {
    margin-top: 29px;
    margin-bottom: 29px;
    padding-left: 8px;
    text-align: center;
}


.indicators-list {
    display: flex;
}

.indicator-item:not(:last-child) {
    margin-right: 24px;
}

.indicator-percent {
    margin-bottom: 11px;
}

.clients {
    position: relative;
    margin-bottom: 110px;
}

.clients::before {
    content: "";
    position: absolute;
    top: -46px;
    background-image: url("../img/decoration/line_horizontal.png");
    width: 1160px;
    height: 2px;
}

.clients::after {
    content: "";
    position: absolute;
    bottom: -30px;
    background-image: url("../img/decoration/line_horizontal.png");
    width: 1160px;
    height: 2px;
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.client-item {
    position: relative;
}

.client-item::after {
    content: "";
    height: 52px;
    width: 2px;
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../img/decoration/line_vertical.png");
    background-repeat: no-repeat;
}

.client-item:last-child::after {
    display: none;
}

.center-map {
    height: 416px;
    margin-bottom: 68px;
}

.map {
    position: absolute;
    width: 100%;
    left: 0;
    height: 416px;
    border: none;
}

.contacts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 39px;
    width: 319px;
    min-height: 308px;
    position: relative;
    top: 50px;
    left: 125px;
    background-color: var(--basic-white);
}

.contacts-title {
    margin: 23px 0;
}

.contacts-text {
    width: 230px;
}

.contacts-phone-wrapper {
    margin-top: 16px;
}

.contacts-button {
    margin-top: 37px;
    margin-bottom: 10px;
}

.main-footer {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    margin-bottom: 76px;
}

.social-links-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 261px;
}

.social-links-item {
    margin-bottom: 10px;
}

.social-links-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    background-color: var(--socials-grey);
    border-radius: 50%;
    cursor: pointer;
}

.social-links-button:hover,
.social-links-button:focus {
    background-color: var(--middle-red);
}

.social-links-button:active {
    background-color: var(--deep-red);
}

.social-links-button:active path {
    opacity: 0.3;
}

.friendship-offer {
    margin-left: 100px;
    padding-bottom: 10px;
}

.friendship-title {
    margin-bottom: 10px;
}


/*
    Модальное окно
*/

.modal-send-mail {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 590px;
    border: none;
    box-shadow: 0px 20px 40px var(--modal-shadow);
    background-color: var(--basic-white);
    display: none;
}

@keyframes bounce {
    0% { transform: translateY(-2000px); }
    70% { transform: translateY(30px); }
    90% { transform: translateY(-10px); }
    100% { transform: translateY(0);}
}

.modal-send-active {
    display: block;
    z-index: 20;
    animation-name: bounce;
    animation-duration: 0.6s;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px);}
}

.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
}

.modal-title {
    margin: 63px 100px 37px;
}

.modal-form {
    margin: 0 100px;
    display: grid;
    grid-template-areas: "name email"
                         "text-area text-area"
                         "button button";
}

.modal-item-name {
    grid-area: name;
    width: 360px; 
}

.modal-item-email {
    grid-area: email;
    width: 360px;
    margin-left: 40px;
}

.modal-item-text {
    grid-area: text-area;
    width: 760px;
    margin-top: 34px;
}

.send-mail-button {
    grid-area: button;
    margin-top: 47px;
    width: 249px;
}

.sender-username,
.sender-email,
.sender-text {
    display: block;
    margin-top: 9px;
    padding: 16px 16px 0;
}

.sender-username,
.sender-email {
    height: 50px;
    padding-bottom: 16px;
}

.sender-text {
    height: 118px;
    max-height: 170px;
    max-width: 840px;
    padding-bottom: 84px;
    overflow: hidden;
    
}

.close-modal-button {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 76px;
    right: 103px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.close-modal-button::before,
.close-modal-button::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 27px;
    height: 4px;
    background-color: var(--light-red);
    opacity: 0.3;
}

.close-modal-button::before {
    transform: rotate(45deg);
}

.close-modal-button::after {
    transform: rotate(-45deg);
}

.close-modal-button:hover::before,
.close-modal-button:hover::after,
.close-modal-button:focus::before,
.close-modal-button:focus::after{
    opacity: 1;
}

.close-modal-button:active::before,
.close-modal-button:active::after{
    opacity: 0.1;
}

.no-data {
    border: solid 2px var(--deep-red);
}

/*
    Раздел "Магазин"
*/

.page-catalog {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.page-catalog-wrapper {
    display: grid;
    grid-template-areas: "filter sorting"
                         "filter templates";
    margin-bottom: 60px;
}

.shop-title {
    text-align: center;
    margin: 0;
    margin-bottom: 55px;
    padding-top: 78px;
    padding-bottom: 108px;
    
}

.filter {
    grid-area: filter;
    width: 260px;
    margin-right: 140px;
}


.filter-grid {
    margin-top: 54px;
}

.filter-title {
    margin-bottom: 16px;
}

.price-range {
    width: 260px;
    margin-top: 48px;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 14px;
    padding: 39px 22px 0;
    background-color: var(--light-grey);
    border-radius: 3px;
}

.range-controls .scale {
    height: 2px;
    background: var(--scale-grey);
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--light-green);
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    box-sizing: content-box;
    width: 4px;
    height: 4px;
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    background-color: var(--toggle-grey);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls .price-label {
    text-transform: uppercase;
    font-size: inherit;
}

.price-controls .price-input {
    width: 80px;
    height: 38px;
    padding: 8px;
    margin-left: 10px;
    text-align: center;
    color: var(--light-black);
    border: none;
    border-radius: 3px;
    background: var(--light-grey);
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}


.filter-speciality-option:not(:last-child) {
    margin-bottom: 20px;
}

.filter-grid-option,
.filter-speciality-option {
    padding-left: 36px;
}

.filter-grid-option {
    height: 40px;
}

.filter-speciality {
    margin-top: 26px;
}

.filter-result-button {
    margin-top: 48px;
}

.templates-sort {
    grid-area: sorting;
    margin-bottom: 48px;
}

.templates {
    grid-area: templates;
}

.sort-form,
.sort {
    display: flex;
    margin: 0;
    padding: 0;
}

.sort {
    display: flex;
    margin: 0;
    padding: 0;
}

.sort-title {
    float: left;
    margin-right: 261px;
}

.sort-position-option,
.sort-directions {
    align-self: center;
    margin-left: auto;
}

.sort-position-option:not(:last-child) {
    margin-right: 16px;
}

.sort-position-option:first-child {
    margin-left: 42px;
}

.sort-type-label,
.sort-direction-label {
    cursor: pointer;
    padding: 10px 5px;
    opacity: 0.3;
}

.sort-type-label:not(:last-child) {
    margin-right: 15px;
}

.sort-direction-option:not(:last-child) {
    margin-right: 8px;
}


.arrow {
    justify-content: right;
}


.sort-direction-button:focus-within + label,
.sort-position-button:focus-within + label,
.sort-direction-button:hover + label,
.sort-position-button:hover + label {
    opacity: 0.6;
}


.sort-direction-button:checked + label,
.sort-direction-button:active + label,
.sort-position-button:checked + label,
.sort-position-button:active + label {
    opacity: 1;
}

.templates-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.template-item {
    margin-bottom: 31px;
    display: grid;
    grid-template-rows: min-content 578px;
    position: relative;
}

.template-browser-img {
    opacity: 0.1;
    width: 360px;
}

.template-img {
    width: 360px;
    height: 578px;
    object-fit: contain;
    background-color: va(--basic-white);
    z-index: 1;
}

.template-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    min-height: 231px;
    position: absolute;
    bottom: -2px;
    z-index: 0;
}

.template-item:hover,
.template-item:focus,
.template-item:focus-within {
    filter: drop-shadow(0px 6px 15px var(--template-hover));
}

.template-item:hover .template-browser-img,
.template-item:focus .template-browser-img,
.template-item:focus-within .template-browser-img {
    opacity: 1;
}

.template-item:hover .template-content,
.template-item:focus .template-content,
.template-item:focus-within .template-content {
    z-index: 2;
}


.template-link {
    margin-top: 26px;
    margin-bottom: 12px; 
}

.template-text {
    margin-bottom: 32px;
    width: 255px;
}

.templ-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 24px;
}

.templ-navigation-item {
    margin-bottom: 10px;
}

.templ-navigation-item .text-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
}

.templ-navigation-prev .text-link,
.templ-navigation-next .text-link {
    width: 244px;
}

.templ-navigation-item:not(:last-child) {
    margin-right: 11px;
}

.templ-navigation-item:hover,
.templ-navigation-item:focus {
    background-color: var(--middle-grey);
}

.templ-navigation-item:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    background-color: var(--deep-grey);
    opacity: 0.3;
}

/*
    Прячем заголовки, которых 
    не должно быть на странице
*/

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}